*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./Doc-image/page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    height: 150px;
    width: 100%;
    background-color: #363636;
}
.first-img img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
span{
    color: green;
}
.texte, .texte1{
    text-align: center;
    top: 50%;
}
.texte{
    margin-top: 20%;
}
.text{
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 3em;
    color: white;
}
.texte1{
    font-size: 30px;
    font-weight: bold;
}
button{
    height: 50px;
    width: 150px;
    position: absolute;
    left: 47%;
    background: green;
    color: white;
    font-weight: bold;
}